{% from "bootstrap5/form.html" import render_form %}

{% include 'header.html' %}
<header class="masthead" style="background-image: url('{{art.img_url}}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ art.title }}</h1>
          <h2 class="subheading">{{ art.subtitle }}</h2>
          <span class="meta"
            >Posted by
            <a href="#">{{ art.author }}</a>
            on {{ art.date }}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <article>
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          {% for a in art.body.split('\n')[1:] %}
            <p>{{ a + '\n' }}</p>
          {% endfor %}

          {{ ckeditor.load() }}
          {{ ckeditor.config(name='comment') }}
          {{ render_form(form, novalidate=True) }}
          <div class="comment">
            <ul class="commentList">
              {% for comment in art.comments %}
              <li>
                <div class="commenterImage">
                  <img src="{{ comment.text|gravatar }}" />
                </div>
                <div class="commentText">
                  <p>{{ comment.text|safe }}</p>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>
  <br>
</div>



{% include 'footer.html' %}