{% include 'header.html' %}

<header
  class="masthead"
  style="background-image: url('https://hips.hearstapps.com/hmg-prod/images/meghan-markle-style-1655915134.jpg?crop=1.00xw:1.00xh;0,0&resize=1200:*'); height: 600px;"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Shopping</h1>
          <span class="subheading">GETA offers a variety of clothing items to shop. Take a look at these incredible clothings and outfit inspirations that are inspired by celebrities and artists all around the world.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="d-md-flex flex-md-equal my-md-3 row text-center">
    <div class="text-bg-dark pt-3 px-3 pt-md-5 px-md-5 mx-2 text-center overflow-hidden col">
      <div>
        <img src="https://assets.vogue.com/photos/64d52f24ea4637be1064a285/3:4/w_640,c_limit/slide_33.jpg" style="width: 100%;">
        <h5 class="lead py-5">Organic cotton-blend poplin shirt</h5>
      </div>
      <div class="text-bg-light shadow-sm mx-auto" style="width: 80%; height: 175px; border-radius: 21px 21px 0 0; --bs-bg-opacity: .85;">
        <br>
        <h5>IDR 510.000</h5>
        <button type="button" class="btn btn-light my-3">Buy</button>
      </div>
    </div>
    <div class="text-bg-light bg-dark pt-3 px-3 pt-md-5 px-md-5 mx-2 text-center overflow-hidden col" style="--bs-bg-opacity: .15;">
      <div>
        <img src="https://assets.vogue.com/photos/64775d2be2581e9fdd4c8c21/3:4/w_640,c_limit/slide_47.jpg" style="width: 100%;">
        <h5 class="lead py-5">Valentina oval acetate sunglasses</h5>
      </div>
      <div class="bg-dark text-bg-dark shadow-sm mx-auto" style="width: 80%; height: 175px; border-radius: 21px 21px 0 0;">
        <br>
        <h5>IDR 237.000</h5>
        <button type="button" class="btn btn-light my-3">Buy</button>
      </div>
    </div>
    <div class="text-bg-dark pt-3 px-3 pt-md-5 px-md-5 mx-2 text-center overflow-hidden col">
      <div>
        <img src="https://assets.vogue.com/photos/64e3dd63a41de9d4c0d5fd60/3:4/w_640,c_limit/slide_19.jpg" style="width: 100%;">
        <h5 class="lead py-5">Monsieur 70 leather heeled loafers</h5>
      </div>
      <div class="text-bg-light shadow-sm mx-auto" style="width: 80%; height: 175px; border-radius: 21px 21px 0 0; --bs-bg-opacity: .85;">
        <br>
        <h5>IDR 1.495.500</h5>
        <button type="button" class="btn btn-light my-3">Buy</button>
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal my-md-3 row text-center">
    <div class="bg-dark pt-3 px-3 pt-md-5 px-md-5 mx-2 text-center overflow-hidden col" style="--bs-bg-opacity: .15;">
      <div>
        <img src="https://assets.vogue.com/photos/64e3dd5ec149451f30a3f713/3:4/w_640,c_limit/slide_6.jpg" style="width: 100%;">
        <h5 class="lead py-5">Cami leather knee boots</h5>
      </div>
      <div class="bg-dark text-bg-dark shadow-sm mx-auto" style="width: 80%; height: 175px; border-radius: 21px 21px 0 0;">
        <br>
        <h5>IDR 825.000</h5>
        <button type="button" class="btn btn-light my-3">Buy</button>
      </div>
    </div>
    <div class="text-bg-dark pt-3 px-3 pt-md-5 px-md-5 mx-2 text-center overflow-hidden col">
      <div>
        <img src="https://assets.vogue.com/photos/64e3dd614ee2b5a1d4b7c83a/3:4/w_640,c_limit/slide_14.jpg" style="width: 100%;">
        <h5 class="lead py-5">Francie wide-leg foiled denim pants</h5>
      </div>
      <div class="text-bg-light shadow-sm mx-auto" style="width: 80%; height: 175px; border-radius: 21px 21px 0 0; --bs-bg-opacity: .85;">
        <br>
        <h5>IDR 532.500</h5>
        <button type="button" class="btn btn-light my-3">Buy</button>
      </div>
    </div>
    <div class="bg-dark pt-3 px-3 pt-md-5 px-md-5 mx-2 text-center overflow-hidden col" style="--bs-bg-opacity: .15;">
      <div>
        <img src="https://assets.vogue.com/photos/64da91e57c271bd4c46f98a1/3:4/w_640,c_limit/slide_6.jpg" style="width: 100%;">
        <h5 class="lead py-5">Double-breasted trench coat</h5>
      </div>
      <div class="bg-dark text-bg-dark shadow-sm mx-auto" style="width: 80%; height: 175px; border-radius: 21px 21px 0 0;">
        <br>
        <h5>IDR 1.193.500</h5>
        <button type="button" class="btn btn-light my-3">Buy</button>
      </div>
    </div>
  </div>
</div>


{% include 'footer.html' %}