{% include 'header.html' %}

<header
  class="masthead"
  style="background-image: url('https://media.nbclosangeles.com/2019/09/Paris-Fashion-Week-Virtual.jpg?quality=85&strip=all&crop=131px%2C596px%2C4217px%2C2371px&resize=1200%2C675'); height: 600px;"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <a href="#">
            <h1>Podcast</h1>
            <span class="subheading">GETA brings you the latest fashion tips, outfit inspirations, and your favorite series. Get an exclusive access on the hottest trends and events on GETA podcast.</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for vid in videos %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ vid.thumbnail }}" class="img-thumbnail">
                <title>Placeholder</title><rect width="100%" height="100%"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
            <div class="card-body">
              <a href="{{ url_for('get_video', vid_id=vid.id)}}">
                <h5 style="font-weight: 300; height: 100px;" class="card-text just">{{ vid.title }}</h5>
              </a>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary">{{ vid.author }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <h5 style="font-weight: 300;" class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <h5 style="font-weight: 300;" class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
{% include 'footer.html' %}